body {
    background-image: url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1742&q=80);  
    background-repeat: no-repea*;
    background-position: center; 
    background-size: cover; 
    font-family: "Syne", sans-serif;
  }

.estilo1 {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.name {
  text-align: center;
  width: 100%;
  color:rgb(255, 255, 255);
}
.fonti{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: aliceblue;
}
.imagem {
  text-align: center;
  width: 100%;
  color:black;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

a:link {
  color:white;
  background-color:transparent;
  text-decoration: underline;
  min-width: 50% !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .link {
    width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

.white,
.hover-purple:hover,
.text-black {
  color: rgb(255, 255, 255) !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
}
.button {
  background-color: #2b2b2b; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 70px;
}

.button1 {
  background-color: rgb(0, 0, 0); 
  color: rgb(255, 255, 255); 
  border: 2px solid #ff0090;
}

.button1:hover {
  background-color: #4f0037;
  color: white;
}

.botoescenter{
  display: flex;
  justify-content: center;
}

.limite img {
  display: flex;
  justify-content: center;
  max-height: 120px;
}